pip install pyttsx4

**If you want to make this into an application**

pip install pyinstaller
(If you are using conda as your file manager, you will have to delete pathlib from your files manually since it is obsolete)

for the current patch, you will need to add the following line to the nsss.py file in pyttsx4:
import objc
